---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
eleventyComputed:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<h1>Tagged “{{ tag }}”</h1>

{% set articleslist = collections[tag] %}
{% include "components/articleslist.njk" %}

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
