<section>
	{% for article in articleslist | reverse %}
		<article{% if article.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ article.url | url }}">
					{% if article.data.title %}
						{{ article.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if article.data.summary %}
				<p>
					{{ article.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ article.date | machineDate }}">
					<small>{{ article.date | readableDate }} by <a href="/authors/{{ article.data.author | slug }}/">{{ article.data.author }}</a></small>
				</time>
			</p>
			{% if article.data.tags %}
				<p>
					{% for tag in article.data.tags %}
		  			{%- if tag != "article" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
