---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set articleslist = collections.article %}
{% include "components/articleslist.njk" %}
